.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    margin: 10px 23%;
    width: 50%;
    background-color: #f6f7f86b;
    backdrop-filter: blur (2px);
    height: 2%;
    z-index: 1000;
    position: fixed;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* border: solid; */
}



.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    position: fixed;
    /* top: 20px; */
    gap: 50px;
    font-size: 18px;
   justify-content: space-between;
   /* justify-items: center; */
    /* border: solid; */
}